.message {
    position: fixed;
    top: 3em;
    width: 50%;
    min-height: 50px;
    margin-left: 50%;
    left: -25%;
    z-index: 10;
    background-color: #FFF;
    box-shadow: 10px 10px 20px #8056ff1f;
    padding: 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.message button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.message button fa-icon {
    font-size: 1.5em;
    color: #8056ff;
    transition: .2s;
}

.message button:hover fa-icon {
    font-size: 1.9em;
}

.message p {
    font-size: 1.2em;
}