form {
  margin: 0;
}

.search-container {
  margin-bottom: 2em;
  width: 100%;
}

.search-container form {
  width: 50%;
  position: relative;
}

.search-container fa-icon {
  color: #6700ac;
  position: absolute;
  top: 8px;
  left: 8px;
}

.search-container input {
  padding: 0.5em;
  padding-left: 30px;
  width: 100%;
}

.produtos-container {
  padding: 10px;
  max-height: 70%;
  min-height: 70%;
  margin-bottom: 1em;
}

.card-produto {
  background-color: #fff;
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
  padding: 1em;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.032);
}

.card-produto img {
  width: 80px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.032);
}

.card-produto aside {
  margin: 0 0.5em;
  text-align: center;
  padding: 0.5em;
}

.card-produto aside h2 {
  font-size: 1em;
  padding: 0;
  margin: 0;
}

.card-produto input[type="checkbox"] {
    width: 17px; 
    height: 17px;
}

/* ------------------------------------------------------------ */

.container-com-fundo {
  height: 800px;
  padding-bottom: 20%;
}

.cn-dark {
  width: 1000px;
  height: 900px;
}

.cn-decoration {
  padding-top: 10%;
}

@media (max-width: 1200px) {
  .cn-dark {
    width: 80%;
    height: 800px;
  }
}

@media (max-width: 1000px) {
    .area01 {
        height: 40%;
        margin-top: 15%;
      }
    
      .area02 {
        height: 30%;
        margin-top: 40%;
      }
} 

@media (max-width: 900px) {
  .area01 {
    height: 40%;
    margin-top: 30%;
  }

  .area02 {
    height: 30%;
    margin-top: 70%;
  }
}
