<div class="container-com-fundo">
  <div class="cn-decoration area01"></div>
  <div class="cn-decoration area02"></div>
  <div class="cn-dark">
    <h2>Selecione o seu <span>Produto</span></h2>
    <div class="search-container">
      <form>
        <fa-icon [icon]="faSearch"></fa-icon>
        <input
          type="text"
          placeholder="Qual item você deseja?"
          (input)="procurar($event)"
        />
      </form>
    </div>
      <div class="produtos-container scroll-bar">
        <div class="card-produto" *ngFor="let produto of produtos">
          <img src="../../../../assets/imagens/img002.jpg" alt="imagem teste" />
          <aside>
            <h2>{{ produto.nome }}</h2>
            <p><span>Valor: </span> {{ produto.valor }}</p>
          </aside>
          <input type="checkbox" (change)="produto.selecionado = true"/>
        </div>
      </div>
      <input type="submit" value="Finalizar" (click)="onSubmit()"/>
  </div>
</div>
