<div class="card-produto">
  <div class="fundo-branco">
    <img src="./assets/imagens/camisa-branca.jpg" alt="camisa-branca" />
    <div class="conteudo">
      <h3>Nome: Victor Soares</h3>
      <h4><fa-icon [icon]="faMoneyBill" /> R$320,56</h4>
    </div>
  </div>
</div>

<div class="card-produto selecionado">
    <div class="fundo-branco">
      <img src="./assets/imagens/camisa-branca.jpg" alt="camisa-branca" />
      <div class="conteudo">
        <h3>Nome: Victor Soares</h3>
        <h4><fa-icon [icon]="faMoneyBill" /> R$320,56</h4>
      </div>
    </div>
  </div>
  
