.card-produto {
  background-image: linear-gradient(to bottom, #b553f7 10%, #6904ce);
  margin: 1em;
  padding: 0 1em;
  border-radius: 5px;
  transition: .2s;
}

.card-produto .fundo-branco {
  background-color: #fff;
  margin: auto;
  padding: 1em .5em;
  display: flex;
  align-items: center;
  transition: .2s;
}

.card-produto .fundo-branco img {
  width: 20%;
  border-radius: 20%;
  margin: 0 1em;
}

.card-produto .fundo-branco .conteudo {
    display: flex;
    flex-direction: column;
}

.card-produto .fundo-branco .conteudo h3 {
    margin-bottom: .5em;
}

.card-produto:hover {
    margin: .5em;
    padding: 0 1.5em;
}

.card-produto:hover .fundo-branco {
    padding: 1.5em .5em;
}

.selecionado {
    padding: .5em 1em;
    margin: 1em;
}
.selecionado .fundo-branco {
    padding: .5em 1em;
    border-radius: 15px;
}

.selecionado:hover {
    padding: 1em 1.5em;

}

.selecionado:hover .fundo-branco {
    padding: .2em 1em;
}