.fundo-branco-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.filtro-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}

.filtro-container h2 {
  font-size: 1.2em;
  margin: 0 1em;
}

.filtro-container input {
    padding: .5em;
    width: 200px;
    border-radius: 5px;
    border: .5px solid #8056ff97;
}

.filtro-container h2 span {
    color: #8056ff;
}

.acao {
  display: flex;
  justify-content: space-between;
}

.cards-container {
  display: flex;
  margin: 2em auto;
  width: 80%;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 1em;
  max-height: 501px;
}
app-card-prod {
  max-width: 33%;
}

.shaded {
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.04);
  transition: box-shadow 0.3s ease; /* Adiciona uma transição suave para a sombra */
}

@media (max-width: 1200px) {
  app-card-prod {
    max-width: 49%;
  }
}

@media (max-width: 900px) {
  app-card-prod {
    max-width: 95%;
  }
}
