.cards-container {
    display: flex;
    margin: auto;
    width: 80%;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 1em;
    max-height: 500px;
}
app-card-prod {
    max-width: 33%;
}


@media (max-width: 1200px) {
    app-card-prod {
        max-width: 49%;
    }
}


@media (max-width: 900px) {
    app-card-prod {
        max-width: 95%;
    }
}

/* Adicione estilos necessários aqui */

.shaded {
    box-shadow: 10px 10px 20px black;
    transition: box-shadow 0.3s ease; /* Adiciona uma transição suave para a sombra */
  }
  