<div class="fundo-branco-container">
  <!-- <div class="filtro-container">
        <h2><span>Busque</span> pelo Produto: </h2>
        <input type="text" />
    </div>
    <div class="acao">
        <a routerLink=""><button>Editar</button></a>
        <button>Excluir</button>
    </div> -->
  <div class="cards-container scroll-bar" #cardsContainer>
    <app-card-prod
      *ngFor="let produto of produtos"
      [nome]="produto.nome"
      [valor]="produto.valor"
      (click)="selecionarCard(produto.id!)"
      [selecionado]="produto.selecionado!"
    ></app-card-prod>
  </div>
  <!-- <div class="paginacao-container">
        <button class="btn-padrao btn-invertido">Anterior</button>
        <h3>Página 1</h3>
        <button class="btn-padrao btn-invertido">Próxima</button>

    </div> -->
</div>
