.cards-container {
    display: flex;
    margin: 2em auto;
    width: 80%;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 1em;
    max-height: 501px;

}
app-card-prod {
    max-width: 33%;
}

.shaded {
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.040);
    transition: box-shadow 0.3s ease; /* Adiciona uma transição suave para a sombra */
  }


@media (max-width: 1200px) {
    app-card-prod {
        max-width: 49%;
    }
}


@media (max-width: 900px) {
    app-card-prod {
        max-width: 95%;
    }
}

  