.home-admin-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch; /* Garante que ambas as divs tenham a mesma altura */
}

.status-lojinha-container {
  width: 60%;
  min-width: 400px;
  position: relative;
}

.status-lojinha-container img {
  display: block;
  width: 100%;
  z-index: 0;
}

.status-lojinha-container .status {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.status-lojinha-container .filtro {
  background: rgba(0, 0, 0, 0.75);
  z-index: 1;
  box-shadow: 20px 0px 30px rgba(0, 0, 0, 0.2);
}

.status-lojinha-container .conteudo {
  z-index: 2;
}

.conteudo-container {
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.conteudo-container h2 {
  font-size: 2.5em;
  margin-bottom: 1em;
}

.conteudo-container h3 {
  font-size: 1.5em;
  margin-bottom: 1em;
}

.conteudo-container .card-status {
  text-align: center;
  margin: 1em;
}

.conteudo-container .card-status h4 {
  font-size: bold;
  font-size: 2em;
}

.conteudo-container aside {
  display: flex;
  width: 80%;
  justify-content: space-between;
}

.main-container {
  width: 40%;
  min-width: 300px;
  background-image: linear-gradient(
    to right,
    #5d3089 0%,
    #6c35a3 20%,
    #8416cd 80%
  );
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: -4px;
}

.main-container h2 {
  margin: 1em 0;
}

@media (max-width: 768px) {
  .status-lojinha-container,
  .main-container {
    width: 100%;
  }
}
