<div class="home-admin-container">
    <div class="status-lojinha-container">
        <img src="../../../../assets/imagens/img-status-lojinha-m.jpg" alt="img-status-lojinha">
        <div class="status filtro"></div>
        <div class="status conteudo">
            <div class="conteudo-container">
                <h2>Status Achadinhos</h2>
                <aside>
                    <div class="card-status">
                        <h3>Funcionários</h3>
                        <h4>4</h4>
                    </div>
                    <div class="card-status">
                        <h3>Vendas</h3>
                        <h4>25</h4>
                    </div>
                </aside>
                <div class="card-status">
                    <h3>Produtos</h3>
                    <h4>6</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="main-container">
        <h2>Acessar Dados</h2>
        <div class="card-funcionalidade">
            <fa-icon [icon]="faAddressBook"></fa-icon>
            <h3>Funcionários</h3>
            <a routerLink=""><button class="btn-padrao">Ver</button></a>
        </div>
        <div class="card-funcionalidade">
            <fa-icon [icon]="faHandsHelping"></fa-icon>
            <h3>Vendas</h3>
            <a routerLink=""><button class="btn-padrao">Ver</button></a>
        </div>
        <div class="card-funcionalidade">
            <fa-icon [icon]="faTShirt"></fa-icon>
            <h3>Produtos</h3>
            <a routerLink=""><button class="btn-padrao">Ver</button></a>
        </div>
    </div>
</div>