<div class="home-admin-container">
  <div class="status-lojinha-container">
    <img
      src="../../../../assets/imagens/img-status-lojinha-m.jpg"
      alt="img-status-lojinha"
    />
    <div class="status filtro"></div>
    <div class="status conteudo">
      <div class="conteudo-container">
        <h2>Status Achadinhos</h2>
        <aside>
          <div class="card-status">
            <h3>Funcionários</h3>
            <h4>{{status.funcionarios}}</h4>
          </div>
          <div class="card-status">
            <h3>Vendas</h3>
            <h4>{{status.vendas}}</h4>
          </div>
        </aside>
        <div class="card-status">
          <h3>Produtos</h3>
          <h4>{{status.produtos}}</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="main-container">
    <h2>Acessar Dados</h2>
    <app-card-funcionalidade [icone]="faAddressBook" titulo="Funcionários" [btnText]="btnText" link="/home/funcionarios"/>
    <app-card-funcionalidade [icone]="faHandsHelping" titulo="Vendas" [btnText]="btnText" link="/home/vendas"/>
    <app-card-funcionalidade [icone]="faTShirt" titulo="Produtos" [btnText]="btnText" link="/home/produtos"/>
  </div>
</div>
