<div class="vendas-dados-container">
  <div class="filtro-venda-container">
    <h2>Filtre pelo Funcionário:</h2>
    <select (change)="selecionarFuncionario($event)">
      <option value="{{ null }}" selected disabled>Selecione</option>
      <option
        *ngFor="let venda of totalVendas"
        value="{{ venda.funcionario.id }}"
      >
        {{ venda.funcionario.nome }}
      </option>
    </select>
  </div>
  <div class="venda-total-container" *ngIf="totalVendasDoFuncionario !== null">
    <div class="fundo-branco">
      <h3><span>Vendas</span> {{ totalVendasDoFuncionario.vendas }}</h3>
      <h3>
        <span>Total</span> {{ totalVendasDoFuncionario.valorTotal | moedaReal }}
      </h3>
      <h3>
        <span>Comissão</span>
        {{ totalVendasDoFuncionario.comissao | moedaReal }}
      </h3>
    </div>
  </div>
  <div class="vendas-container scroll-bar">
    <app-card-venda
      *ngFor="let venda of vendas"
      id="{{ venda.id }}"
      nome="{{ venda.funcionario.nome }}"
      [valorTotal]="venda.valor!"
      [comissao]="venda.comissao!"
      class="teste"
    />
  </div>
</div>
