<div class="sobre-container">
    <div class="cn-decoration area01"></div>
    <div class="cn-decoration area02"></div>
    <div class="img-sobre-container">
      <img src="./assets/imagens/img-sobre.jpg" alt="img-sobre" class="img-sobre" />
    </div>
    <div class="cn-dark">
      <h2>Saiba Mais Sobre <span>Achadinhos</span>Online</h2>
    </div>
    <a routerLink="/sobre"><button class="btn-sobre">Saiba Mais</button></a>
  </div>
  <div class="opcoes-container">
    <div class="card-opcao">
        <fa-icon [icon]="faUserTie"></fa-icon>
      <h2>Funcionários</h2>
      <p>Cadastro novos Funcionários.</p>
      <a routerLink="/funcionarios"><button>Mais</button></a>
    </div>
    <div class="card-opcao">
        <fa-icon [icon]="faShoppingCart"></fa-icon>
      <h2>Vendas</h2>
      <p>Aqui o valor da venda e a comissão do funcionário será registrada.</p>
      <a routerLink="/vendas"><button>Mais</button></a>
    </div>
    <div class="card-opcao">
      <fa-icon [icon]="faBox"></fa-icon>
      <h2>Produtos</h2>
      <p>Cadastro de novos Produtos para a Lojinha.</p>
      <a routerLink="/produtos"><button>Mais</button></a>
    </div>
  </div>