<div class="sobre-container">
    <div class="cn-decoration area01"></div>
    <div class="cn-decoration area02"></div>   
    <div class="cn-dark">
      <h2><span>Achadinhos</span>Online</h2>
      <p>O Achadinhos Online visa democratizar a moda, proporcionando uma alternativa sustentável e acessível para aqueles que desejam se expressar através de seu estilo pessoal. Nosso objetivo é criar uma comunidade online onde as pessoas possam descobrir tesouros de moda a preços acessíveis, promovendo a reutilização e a conscientização ambiental. Queremos facilitar a experiência de compra, tornando a moda mais inclusiva, diversificada e amigável para todos os orçamentos.</p>
    </div>    
  </div>